<!DOCTYPE html>
<html>
<head>
    <title>Poll details and voting</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'polls/css/main.css' %}">
    <link rel="stylesheet" type="text/css" 
        href="{% static 'polls/css/details.css' %}">
</head>

<header>

        <h1 id="title"><a href="{% url 'polls:homepage' %}">POLLS</a></h1>

</header>

<body>

<main>
    <div id="poll-header">

        <p>Poll number {{ question.id }}</p>
        <h2>{{ question.text }}</h2>

    </div>

    {% if error_message %}
            <p class="error-message">You didn't select any choice</p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for option in question.option_set.all %}
            <input id="poll-{{ question.id }}-{{ option.id }}"
                       type="radio" name="choice"
                       value="{{ option.id }}">
            <label for="poll-{{ question.id }}-{{ option.id }}">
                {{ option.text }}
                
            </label>
            <br>
        {% endfor %}
        <br>
        <input class="pumpkin-button" type="submit" value="Send">
    </form>


</main>


<footer>

</footer>

</body>

</html>