<!DOCTYPE html>
<html>
<head>
    <title>Polls Site</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'polls/css/main.css' %}">
    
    </style>

</head>

<body>

<header>

        <h1 id="title"><a href="{% url 'polls:homepage' %}">POLLS</a></h1>

</header>


<main>

<div id="flex-parent">
    {% for question in questions %}
        <div class="child">
            <h2>
                <a href="{% url 'polls:details' question.id %}">{{ question.text }}</a>
            </h2>
        </div>
    {% endfor %}
</div>

</main>


<footer>
</footer>


</body>

</html>