<!DOCTYPE html>
<html>
<head>
    <title>Polls Site</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'polls/css/main.css' %}">

</head>


<header>

        <h1><a href="{% url 'polls:homepage' %}">POLLS</a></h1>

</header>


<main>

<div id="flex">
    {% for question in questions %}
        <div class="box">
            <h2>
                <a href="{% url 'polls:details' question.id %}">{{ question.text }}</a>
            </h2>
        </div>
    {% endfor %}
</div>

</main>


<footer>
</footer>


</html>