<!DOCTYPE html>
<html>
<head>
    <title>Poll details and voting</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'polls/css/main.css' %}">
</head>

<header>

        <h1><a href="{% url 'polls:homepage' %}">POLLS</a></h1>

</header>


<main>
    <h2>Poll number {{ question.id }}</h2>
    <p>{{ question.text }}</p>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for option in question.option_set.all %}
            <label for="poll-{{ question.id }}-{{ option.id }}">
                {{ option.text }}
                <input id="poll-{{ question.id }}-{{ option.id }}"
                       type="radio" name="how_tall"
                       value="{{ option.text }}">
            </label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Send">
    </form>


</main>


<footer>

</footer>

</html>