{% for post in posts %}
    <div class="post">

        <div class="post-header">

            {% if specific %}
                <h2>{{ post.headline }}</h2>
            {% else %}
                <h2><a href="{% url 'post_details' post.id %}">{{ post.headline }}</a></h2>
            {% endif %}
            <div class="post-meta-info">
                <p>Tags:</p> <!-- hardcoded in post-details -->
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag_filter' tag.id %}">{{ tag.name }}</a>
                {% endfor %}

                <p>Date: {{ post.date }}</p>
            </div>
        </div>
        <div class="post-content">
            <p>{{ post.text }}</p>


            {% if specific %}
                <p><a href="{% url 'homepage'%}">...go back to feed</a></p>
            {% else %}
                <p><a href="{% url 'post_details' post.id %}">read more...</a></p>
            {% endif %}
        </div>

        {% if specific %}
        <form class="comment-form" action="add_comment/" method="post">
            {% csrf_token %}
            <label for="new_comment">
                <textarea id="new_comment" name="new_comment">default comment text</textarea>
            </label>
            <label for="comment_submitter">
                <input type="text" id="comment_submitter" name="author">
            </label>
            <input type="submit" value="Post comment">
        </form>
        {% endif %}

        <div class="post-comments">
            {% include 'blog/_post-comments.html' %}
        </div>

    </div> <!--class post -->
{% empty %}
    <p>Sorry, not posts found</p>
{% endfor %}
