<!DOCTYPE html>
<html>

<head>
	<title>My Blog</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/paginator.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/feed.css' %}">
</head>

<body>

<header>

    <h1><a href="{% url 'blog:homepage' %}">My Awsome Blog</a></h1>
    <p>A little bit of cooking, jokes, bachatas and so on...</p> 

</header>

<div id="nav_main">
    <nav>
        <p>navigation:</p>
        <a class="link" href="#">nav link 1</a>
        <a class="link" href="#">nav link 2</a>
        <a class="link" href="#">nav link 3</a>
    </nav>

    <main>
        
        
        {% if search_tag %}
            <h2>Search result: tag <strong>"{{ search_tag.name }}"</strong></h2>
            {% include 'blog/_blog-feed.html' %}
        {% else %}
            {% include 'blog/_blog-feed.html' %}
        {% endif %}
    </main>

</div> <!-- nav_main -->

<footer>
	<p>this is footer</p>
</footer>

</body>

</html>