<div class="paginator">
    
    {% if posts.has_previous %}
        <a id="a1" href="?page=1"><<</a>
        <a href="?page={{ posts.previous_page_number }}"><</a>
    {% endif %}

    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <a id="current-page" href="?page={{ num }}">{{ num }}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">></a>
        <a href="?page={{ posts.paginator.num_pages }}">>></a>
    {% endif %}

</div>
