.right-align {
    text-align: right;
}
header {
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
}
.post {
    background-color: silver;
    border-radius: 1em;
    width: 80%;
    margin: 2em auto 2em auto;
    padding: 1em 2em 2em 2em;

}
    .post-header {

    }
    .post-meta-info {
        border: 1px solid pink;
        padding-left: 70%;
        color: white;

    }
    .post-content {

    }
    .post-comments {
        width: 80%;
        margin: 2em auto 2em auto;
        border: 1px solid brown;
    }


